.ic-Checkbox {
  display: inline-block;
  border: none;
  background-color: #f0f0f0;
  color: #343a40;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
  border-radius: 5px;
}

.ic-provider--dark .ic-Checkbox {
  background-color: #343a40;
  color: #f0f0f0;
}

.ic-Checkbox--checked {
  background-color: #4ea4ff;
  color: #f0f0f0;
}

.ic-Checkbox--checked:hover {
  filter: brightness(0.75);
  transform: scale(0.95);
}

.ic-provider--dark .ic-Checkbox--checked {
  background-color: #00438b;
  color: #f0f0f0;
}

.ic-provider--dark .ic-Checkbox:hover {
  filter: brightness(0.75);
  transform: scale(0.95);
}

/* Fixed size when no label */
.ic-Checkbox--noLabel {
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-align: center;

  position: relative;
  /* Draw X that can tranform into a checkmark when checked */
  
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
}

/* Draw X */
.ic-Checkbox--noLabel::before {
  position: absolute;
  left: 0;
  content: "X";
  font: 20px sans-serif;
  text-align: center;
  display: inline;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
  opacity: 1;
}

/* Draw checkmark */
.ic-Checkbox--noLabel::after {
  position: absolute;
  left: 0;
  top: 6px;
  content: "✓";
  font: 20px sans-serif;
  text-align: center;
  display: inline;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.ic-Checkbox--noLabel.ic-Checkbox--checked::before {
  opacity: 0;
}

.ic-Checkbox--noLabel.ic-Checkbox--checked::after {
  opacity: 1;
}

.ic-Checkbox-alwaysShowTick {
  display: inline-block;
  margin-right: 8px;
  width: 1em;

  border-right: 1px solid #f0f0f0;
}