.ic-Input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 5px;
}

.ic-provider--dark .ic-Input {
  border: 1px solid #ccc;
  background-color: #333;
  color: #e4e4e4;
}

.ic-Input-wrapper {
  display: inline-block;
}

.ic-Input-label {
  display: block;
  margin: 4px;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.ic-Input-label.ic-Input-label--center {
  text-align: center;
}

.ic-Input-label.ic-Input-label--right {
  text-align: right;
}

.ic-provider--dark .ic-Input-label {
  color: #e4e4e4;
}
